In [1]:
import pandas as pd
import numpy as np
from scipy.stats import gmean

In [155]:
lgb2 = pd.read_csv('lgb2.csv')
lgb5 = pd.read_csv('lgb5.csv')
lgb6 = pd.read_csv('lgb6.csv')

blend1_df = pd.read_csv('../lgbm_blend1/blend1.csv')
blend2_df = pd.read_csv('../lgbm_blend2/blend2.csv')
blend5_df = pd.read_csv('../lgbm_blend5/blend5.csv')

In [2]:
path = "../../feature_engineering_eda_data/"

sample_submission = pd.read_csv(path+'sample_submission_24jSKY6.csv')

In [144]:
lgb2.head()

   UniqueID  loan_default
0    655269      0.276719
1    723482      0.358500
2    758529      0.301677
3    763449      0.321979
4    708663      0.263067

In [146]:
lgb6.head()

   UniqueID  loan_default
0    655269      0.330128
1    723482      0.403047
2    758529      0.318913
3    763449      0.330359
4    708663      0.265885

In [147]:
lgb5.head()

   UniqueID  loan_default
0    655269      0.339344
1    723482      0.388448
2    758529      0.318695
3    763449      0.333575
4    708663      0.254155

In [148]:
blend2_df.head()

   UniqueID  loan_default
0    655269      0.420384
1    723482      0.445561
2    758529      0.443477
3    763449      0.496733
4    708663      0.450529

In [149]:
blend1_df.head()

   UniqueID  loan_default
0    655269      0.421956
1    723482      0.439414
2    758529      0.447256
3    763449      0.488472
4    708663      0.459469

In [151]:
blend5_df.head()

   UniqueID  loan_default
0    655269      0.336050
1    723482      0.393859
2    758529      0.348362
3    763449      0.371613
4    708663      0.317105

### Blending - Weighted and Geometric Mean

In [203]:
gmean_df = pd.concat([lgb2['loan_default'], lgb6['loan_default'], lgb5['loan_default'], blend5_df['loan_default'],
                    blend2_df['loan_default'], blend1_df['loan_default']], 
                     axis=1)

simple_gmean = gmean(gmean_df, axis=1)
simple_gmean

array([0.34728108, 0.40146336, 0.35716169, ..., 0.30285055, 0.38695303,
       0.25464395])

#blend_weighted = (blend3_df['loan_default'] * 0.15) + (lgb1['loan_default'] * 0.15) + \
#(blend2_df['loan_default'] * 0.15) + (lgb2['loan_default'] * 0.15) + (lgb3['loan_default']*0.2) +\
#(lgb4['loan_default']*0.2)

#blend_weighted.values

Perp Preds

In [204]:
sample_submission['loan_default'] = simple_gmean
sample_submission.head()

   UniqueID  loan_default
0    655269      0.347281
1    723482      0.401463
2    758529      0.357162
3    763449      0.389634
4    708663      0.324816

In [205]:
sample_submission.to_csv('blend7.csv', index=False)

In [2]:
print('----------'*5)
print("...Completed...")

--------------------------------------------------
...Completed...