In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [163]:
lgb2_ovsampled = pd.read_csv('1/lgb_baseline_10foldCV_with_oversampling.csv')
lgb4_goss_ov = pd.read_csv('1/lgb_baseline_10foldCV_ov_GOSS.csv')
lgb6_fe_ov_bayes = pd.read_csv('1/LGB_FE_10foldCV_oversampling_BayesianTuning.csv')

In [164]:
sample_submission = pd.read_csv('../sample_submission_24jSKY6.csv')

In [165]:
lgb3_oversampled.head()

   UniqueID  loan_default
0    655269      0.440062
1    723482      0.435151
2    758529      0.468620
3    763449      0.501638
4    708663      0.520700

In [166]:
lgb2_ovsampled.head()

   UniqueID  loan_default
0    655269      0.410236
1    723482      0.413970
2    758529      0.444281
3    763449      0.473745
4    708663      0.486301

In [104]:
lgb4_goss_ov.head()

   UniqueID  loan_default
0    655269      0.413402
1    723482      0.407216
2    758529      0.429115
3    763449      0.473146
4    708663      0.483971

In [105]:
lgb5_fe_ov.head()

   UniqueID  loan_default
0    655269      0.441695
1    723482      0.476814
2    758529      0.448009
3    763449      0.477100
4    708663      0.405794

In [109]:
blend1_df.head()

   UniqueID  loan_default
0    655269      0.429581
1    723482      0.446159
2    758529      0.445545
3    763449      0.478092
4    708663      0.449021

In [135]:
lgb6_fe_ov_bayes.head()

   UniqueID  loan_default
0    655269      0.426093
1    723482      0.468874
2    758529      0.447996
3    763449      0.512258
4    708663      0.427457

In [177]:
blend1 = (lgb2_ovsampled['loan_default'] * 0.2) + (lgb4_goss_ov['loan_default'] * 0.2) + \
(lgb6_fe_ov_bayes['loan_default']*0.6)

In [182]:
sample_submission['loan_default'] = blend1
sample_submission.head()

   UniqueID  loan_default
0    655269      0.420384
1    723482      0.445561
2    758529      0.443477
3    763449      0.496733
4    708663      0.450529

In [183]:
sample_submission.to_csv('2LGB1Bayesain_Blend_Trial1.csv', index=False)