In [1]:
import pandas as pd
import numpy as np

In [6]:
lgb2_ovsampled = pd.read_csv('../lgbm_blend1/lgb2_base_features_oversampled.csv')
lgb4_goss_ov = pd.read_csv('../lgbm_blend1/lgb4_base_features_goss_ov.csv')

lgb6_fe_ov_bayes = pd.read_csv('lgb6_fe_bayestune_oversampling.csv')

In [7]:
path = "../../feature_engineering_eda_data/"

sample_submission = pd.read_csv(path+'sample_submission_24jSKY6.csv')

In [9]:
lgb2_ovsampled.head()

   UniqueID  loan_default
0    655269      0.410236
1    723482      0.413970
2    758529      0.444281
3    763449      0.473745
4    708663      0.486301

In [10]:
lgb4_goss_ov.head()

   UniqueID  loan_default
0    655269      0.413402
1    723482      0.407216
2    758529      0.429115
3    763449      0.473146
4    708663      0.483971

In [11]:
lgb6_fe_ov_bayes.head()

   UniqueID  loan_default
0    655269      0.426093
1    723482      0.468874
2    758529      0.447996
3    763449      0.512258
4    708663      0.427457

In [12]:
blend1 = (lgb2_ovsampled['loan_default'] * 0.2) + (lgb4_goss_ov['loan_default'] * 0.2) + \
(lgb6_fe_ov_bayes['loan_default']*0.6)

In [13]:
sample_submission['loan_default'] = blend1
sample_submission.head()

   UniqueID  loan_default
0    655269      0.420384
1    723482      0.445561
2    758529      0.443477
3    763449      0.496733
4    708663      0.450529

In [14]:
sample_submission.to_csv('blend2.csv', index=False)

In [ ]:
print("----------"*5)
print("...Complete...")