In [2]:
import pandas as pd
import numpy as np
from scipy.stats import gmean

In [366]:
cb1 = pd.read_csv('cb1.csv')
cb2 = pd.read_csv('cb2.csv')
cb3 = pd.read_csv('cb3.csv')

blend2_df = pd.read_csv('../../lightgbm/lgbm_blend2/blend2.csv')
blend7_df = pd.read_csv('../../lightgbm/lgbm_blend7/blend7.csv')

In [3]:
path = "../../feature_engineering_eda_data/"

sample_submission = pd.read_csv(path+'sample_submission_24jSKY6.csv')

In [368]:
cb1.head()

   UniqueID  loan_default
0    655269      0.258335
1    723482      0.356329
2    758529      0.313646
3    763449      0.382288
4    708663      0.291380

In [369]:
cb2.head()

   UniqueID  loan_default
0    655269      0.275000
1    723482      0.360380
2    758529      0.318846
3    763449      0.380955
4    708663      0.299178

In [370]:
cb3.head()

   UniqueID  loan_default
0    655269      0.295996
1    723482      0.343816
2    758529      0.341260
3    763449      0.371873
4    708663      0.295992

In [325]:
blend7_df.head()

   UniqueID  loan_default
0    655269      0.347281
1    723482      0.401463
2    758529      0.357162
3    763449      0.389634
4    708663      0.324816

In [ ]:
blend2_df.head()

### Blending - Weighted and Geometric Mean

In [386]:
gmean_df = pd.concat([cb2['loan_default'],
                    cb1['loan_default'], 
                    cb3['loan_default'],
                    blend7_df['loan_default'], 
                    blend2_df['loan_default']], axis=1)

simple_gmean = gmean(gmean_df, axis=1)
simple_gmean

array([0.73073227, 0.86586421, 0.80577424, ..., 0.66609365, 0.85819739,
       0.48547285])

In [ ]:
simple_ar_mean = gmean_df.mean(axis=1)
simple_ar_mean.head()

Perp Preds

In [383]:
sample_submission['loan_default'] = simple_ar_mean
sample_submission.head()

   UniqueID  loan_default
0    655269      0.739518
1    723482      0.881804
2    758529      0.809425
3    763449      0.887651
4    708663      0.735945

In [384]:
sample_submission.to_csv('blend9.csv', index=False)

In [1]:
print("----------"*5)
print("...Complete...")

--------------------------------------------------
...Complete...