In [2]:
import pandas as pd
import numpy as np

In [3]:
lgb2_ovsampled = pd.read_csv('lgb2_base_features_oversampled.csv')
lgb4_goss_ov = pd.read_csv('lgb4_base_features_goss_ov.csv')
lgb5_fe_ov = pd.read_csv('lgb5_feV1_oversampling.csv')

In [4]:
path = "../../feature_engineering_eda_data/"

sample_submission = pd.read_csv(path+'sample_submission_24jSKY6.csv')

In [6]:
lgb2_ovsampled.head()

   UniqueID  loan_default
0    655269      0.410236
1    723482      0.413970
2    758529      0.444281
3    763449      0.473745
4    708663      0.486301

In [16]:
lgb4_goss_ov.head()

   UniqueID  loan_default
0    655269      0.413402
1    723482      0.407216
2    758529      0.429115
3    763449      0.473146
4    708663      0.483971

In [17]:
lgb5_fe_ov.head()

   UniqueID  loan_default
0    655269      0.441695
1    723482      0.476814
2    758529      0.448009
3    763449      0.477100
4    708663      0.405794

In [18]:
blend1 = (lgb2_ovsampled['loan_default'] * 0.25)  + (lgb4_goss_ov['loan_default'] * 0.25) + \
(lgb5_fe_ov['loan_default'] * 0.5)

In [19]:
sample_submission['loan_default'] = blend1
sample_submission.head()

   UniqueID  loan_default
0    655269      0.426757
1    723482      0.443703
2    758529      0.442353
3    763449      0.475273
4    708663      0.445465

In [20]:
sample_submission.to_csv('blend1.csv', index=False)

In [21]:
print("---------"*5)
print("...Completed...")

---------------------------------------------
...Completed...