In [1]:
import pandas as pd
import numpy as np
from scipy.stats import gmean

In [3]:
lgb1 = pd.read_csv('lgb1.csv')
#lgb2 = pd.read_csv('19thApril/LGB_FEInsideCV_10foldCV_19thApril_3.csv')
lgb4 = pd.read_csv('lgb4.csv')

blend1_df = pd.read_csv('../lgbm_blend1/blend1.csv')
blend2_df = pd.read_csv('../lgbm_blend2/blend2.csv')

In [2]:
path = "../../feature_engineering_eda_data/"

sample_submission = pd.read_csv(path+'sample_submission_24jSKY6.csv')

In [50]:
lgb1.head()

   UniqueID  loan_default
0    655269      0.273341
1    723482      0.339794
2    758529      0.296574
3    763449      0.311295
4    708663      0.266864

In [51]:
#lgb2.head()

   UniqueID  loan_default
0    655269      0.276719
1    723482      0.358500
2    758529      0.301677
3    763449      0.321979
4    708663      0.263067

In [53]:
lgb4.head()

   UniqueID  loan_default
0    655269      0.330128
1    723482      0.403047
2    758529      0.318913
3    763449      0.330359
4    708663      0.265885

In [54]:
blend1_df.head()

   UniqueID  loan_default
0    655269      0.429581
1    723482      0.446159
2    758529      0.445545
3    763449      0.478092
4    708663      0.449021

In [56]:
blend2_df.head()

   UniqueID  loan_default
0    655269      0.421956
1    723482      0.439414
2    758529      0.447256
3    763449      0.488472
4    708663      0.459469

In [5]:
gmean_df = pd.concat([lgb1['loan_default'], #lgb2['loan_default'], 
                      #lgb3['loan_default'], 
                      lgb4['loan_default'],
                    blend2_df['loan_default'], blend1_df['loan_default']], axis=1)

simple_gmean = gmean(gmean_df, axis=1)
simple_gmean

array([0.35323179, 0.41205058, 0.37669542, ..., 0.30712971, 0.40460829,
       0.26830655])

#blend_weighted = (blend3_df['loan_default'] * 0.15) + (lgb1['loan_default'] * 0.15) + \
#(blend2_df['loan_default'] * 0.15) + (lgb2['loan_default'] * 0.15) + (lgb3['loan_default']*0.2) +\
#(lgb4['loan_default']*0.2)

#blend_weighted.values

Perp Preds

In [6]:
sample_submission['loan_default'] = simple_gmean
sample_submission.head()

   UniqueID  loan_default
0    655269      0.353232
1    723482      0.412051
2    758529      0.376695
3    763449      0.392974
4    708663      0.346786

In [66]:
sample_submission.to_csv('blend5.csv', index=False)

In [7]:
print('-----------'*5)
print("...Completed...")

-------------------------------------------------------
...Completed...